.page-header
  = link_to new_collection_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Collection
  %h2 Listing collections

= render_pagination @collections

.table-responsive
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @collections.each do |collection|
        %tr
          %td= link_to collection.name, collection
          %td
            = link_to 'Edit', edit_collection_path(collection), :class => 'btn btn-xs btn-primary'
            = link_to 'Destroy', collection, :data => { confirm: 'Are you sure?' }, :method => :delete, :class => 'btn btn-xs btn-danger'
