= f.input :label
= f.input :placeholder
= f.input :help_info,       as: :text
= f.input :default_value
= f.input :blocked_keywords
= f.input :optional,        as: :boolean, wrapper: :vertical_boolean
= f.input :uniq,            as: :boolean, wrapper: :vertical_boolean
= f.input :multiple_emails, as: :boolean, wrapper: :vertical_boolean