= f.input :label
= f.input :placeholder
= f.input :help_info,       as: :text
= f.input :validation_regexp
= f.input :default_value
= f.input :min_char_count,  as: :integer
= f.input :max_char_count,  as: :integer
= f.input :masked,          as: :boolean, wrapper: :vertical_boolean