.page-header
  = link_to flow_items_path(@flow), :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_flow_item_path(@flow, @item), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show item

%dl.dl-horizontal

  - @item.field_containers.each do |field_container|
    - current_field_value = field_container.current_field_value

    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %a{ href: "##{field_container.id}", style: 'padding: 0 20px; font-weight: normal;', data: { toggle: 'collapse' } }
            = field_container.field_type.name + ':'
          = render 'items/show/' + current_field_value.class.name.underscore, field_value: current_field_value

      .panel-collapse.collapse{ id: field_container.id }
        .panel-body

          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th
                  %th= field_container.field_type.name
                  %th= 'Created at'
              %body
                - field_container.field_values.each_with_index do |field_value, index|
                  %tr
                    %td{ style: 'font-style: italic;'}
                      = index == 0 ? '(current value)' : ''
                    %td
                      = render 'items/show/' + field_value.class.name.underscore, field_value: field_value
                    %td
                      = l field_value.created_at, format: :long

