!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Flowless
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        = render 'layouts/navigation'
    .container
      = render 'layouts/flash_messages'
      .row
        = yield

    = render 'layouts/popins/new_item'

